{% extends 'base.html' %}

{% block content %}

<div class="delete_prompt">
    <div class="has-text-centered">
        <h4 id="delete_header" class="has-text-weight-bold">Are you sure you want to delete this post?</h4>
    </div>
    
    <form action="" method="post" class="has-text-centered">
        {% csrf_token %}
        <input class="button" type="submit" value="Yes Delete!">
        <a class="button is-warning" href="{% url 'post_detail' post.id %}">Cancel</a>
    </form>
</div>

{% endblock %}