{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    Exchange 🔺 | Add Product
{% endblock %}
{% block content %}



<br>
<div class="add-product-form container">
    <h1 class="title has-text-centered">Add A Product</h1>
    <form class="add-product-form" action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Name:</label>
            <div class="control has-icons-right">
                {{ form.name|add_class:"input" }}
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Price:</label>
            <div class="control has-icons-right">
                {{ form.price|add_class:"input" }}
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Quantity:</label>
            <div class="control has-icons-right">
                {{ form.quantity|add_class:"input" }}
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field ">
            <label class="label description">Description:</label>
            <div class="control">
            {{ form.description|add_class:"textarea is-hovered"}}
          </div>
        </div>

        <div class="field">
            <label class="label">Tag:</label>
            <div class="control has-icons-right">
                {{ form.tag|add_class:"input" }}
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
            </div>
        </div>

        <label class="label">Upload Photo: </label> 
        <div class="file has-name control field">
            {{ form.photo|add_class:"file-cta" }}
        </div>
        
        {% if product %}
        <div class="field is-grouped">
            <div class="control">
            <input type="submit" class="button is-warning" value="Edit Product">
        </div>
        <div class="">
          <a href="{% url 'DeleteProduct' product.id %}" class="button is-danger">Delete Product</a>
        </div>
        {% else %}
        <div class="control">
            <input type="submit" class="button is-success" value="Add Product">
        </div>
    </div>  
        {% endif %}
    </form>

</div> <br>

{% endblock %}