{% extends "base.html" %}
{% block title %}
    Monetizico | Login
{% endblock %}
{% block content %}
    
    <div class="login container">
      <h1 class="title is-1">Login</h1>
      <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username:</label>
            <div class="control has-icons-left has-icons-right">
              {% if form.errors.username %}
                <input type="text" name="username" maxlength="150" required id="id_username" class="input is-danger" type="text" placeholder="i.e. NewUser1">
              {% else %}
                <input type="text" name="username" maxlength="150" required id="id_username" class="input" type="text" placeholder="i.e. NewUser1">
              {% endif %}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password:</label>
            <div class="control  has-icons-right">
              <input type="password" name="password" required id="id_password" class="input" type="text" placeholder="1234">
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
        </div>  
        
        <div class="level">
        <button type="submit" class="button is-primary">
          Login
        </button>

        <div class="">
          <a href="{% url 'home' %}" class="button is-danger">Cancel</a>
        </div>
      </div>
      </form>
      <br><br>
    </div>
            
            
       
{% endblock %}