{% extends "base.html" %}
{% block title %}
    Exchange 🔺 | About
{% endblock %}
{% block content %}
<br>
<div class="container">
<div class="tile is-parent">
    <article class="tile is-child notification is-warning is-8by12">
      <p class="title has-text-centered">About Exchange</p>
      <p class="subtitle has-text-centered">A Community Marketplace Guided By The Following Principles:</p>
      <ul>
          <li class="has-text-centered">✔️ Safety</li>
          <li class="has-text-centered">✔️ Simplicity</li>
          <li class="has-text-centered">✔️ Efficiency</li>
          <li class="has-text-centered">✔️ User-Friendly Experience</li>
      </ul>
      <br><br>
      <nav class="level">
        <div class="level-item has-text-centered">
      <figure class="is-inline-block has-text-centered" >
        <img class="is-horizontal-center has-text-centered" src="https://wgs-fusion.s3.amazonaws.com/uploads/product/product_image/57/Asset_1b.png">
    </figure>
</nav>
</div>
<br>
  </div>
  <br><br>
</div>
{% endblock %}