{% load static %}
{% load custom_tags %}
{% if user.is_authenticated %}
    {% get_cart user as cart %}
    {% get_posts user as user_posts %}
    {% get_total user_posts as total %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.scss' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://js.stripe.com/v3/"></script>
        <script  defer src="{% static 'js/main.js' %}"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <title>
            {%block title %}
            Exchange
            {% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="{% url 'home' %}">
                    <img src="{% static 'img/Exchange.gif' %}" >
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <!-- WILL NEED TO USE JAVASCRIPT TO TOGGLE BURGER AND MENU -->
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="navbar-item" href="{% url 'about' %}">ABOUT US</a>
                        <a href="{% url 'contact' %}" class="navbar-item">CONTACT US</a>
                    </div>
                    <div class="navbar-item is-hoverable has-dropdown">
                        {% if user.is_authenticated %}
                        <a class="navbar-link" href="{% url 'profile' %}">Hi,&nbsp;<strong>{{user.first_name|capfirst}}</strong>!</a>
                        {% endif %}
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; View Profile</a>
                            <hr class="navbar-divider">
                            {% if user|product_count %}
                                    <a class="navbar-item" href="{% url 'AddProduct' %}"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Add A Product</a>
                                    <a class="navbar-item" href="{% url 'AddPost' %}"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp; List an Item</a>
                            {% else %}
                                    <a class="navbar-item" href="{% url 'AddProduct' %}"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Add A Product</a>
                                    <a class="navbar-item" href="{% url 'AddProduct' %}"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp; List an Item</a>
                            {% endif %}
                        </div>
                    </div>
                    
                    <form class="navbar-item">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" name="search" placeholder="Search">
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                    <span class="icon is-small">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="has-text-black navbar-item" href="{% url 'cart' %}" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <div class="navbar-dropdown">
                            <!-- FIXME: Add conditional rendering for icon for each product -->
                            {% for post in user_posts %}
                                <a class="navbar-item" href="{% url 'post_detail' post.id %}">{{post.quantity}} {{ post.product.name }} - ${{ post.product.price|floatformat:2 }}</a>
                            {% endfor %}
                            <hr class="navbar-divider" />
                            <div class="navbar-item">Total: {{ total }}</div>
                        </div>
                    </div>
                        <div class="navbar-item">
                            <div class="buttons">
                                <a id="logout" class="button" href="{% url 'logout' %}">
                                    <strong>Logout</strong>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="navbar-item">
                            <div class="buttons">
                                <a id="signup" class="button" href="{% url 'register' %}">
                                    <strong>Sign Up</strong>
                                </a>
                                <a id="login" class="button" href="{% url 'login' %}">
                                    <strong>Log In</strong>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>   
        </nav>
            {% block content %}
            {% endblock %}
        <footer class="footer">
            <div class="content has-text-centered">
                <h1>SITEMAP</h1>
                <p>Copyright Exchange &copy; {% now "Y" %}</p>
            </div>
        </footer>
    </body>
</html>