{% extends "base.html" %}
{% block title %}
    Monetizico | Home
{% endblock %}
{% block content %}

<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-2 notification fixed-sidebar">
            <p class="tile is-child">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui doloremque id ipsam, cum, magnam soluta modi neque non placeat ut quos earum explicabo mollitia, quia natus cumque. Exercitationem, voluptas?
            </p>
        </div>
        {% if posts %}
        <div class="tile is-vertical is-parent">
            <div id="carousel" class="tile is-12 notification is-danger">
                <div class="tile">
                    Carousel
                </div>
            </div>
            <div class="tile is-ancestor">
                {% for post in posts|slice:"0:4" %}
                <div class="tile is-parent is-vertical is-3">
                    <div class="tile is-child notification is-warning">
                        {{ post.product.name }}
                        {% for photo in post.photo_set.all %}
                        <img src="{{ photo.url }}" alt="pic of dog">
                        {% empty %}
                        <p>No photos available</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tile is-ancestor">
                {% for post in posts|slice:"4:8" %}
                <div class="tile is-parent is-vertical is-3">
                    <div class="tile is-child notification is-warning">
                        {{ post.product.name }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="tile is-parent notification">
                    <div class="tile has-text-centered is-child">
                        <h1 class="title is-1">No products have been posted!</h1>
                    </div>
                </div>
        </div>
        {% endif %}
    </div>
</section>                

{% endblock %}