{% extends "base.html" %}
{% block title %}
    Monetizico | Home
{% endblock %}
{% block content %}

<div class="content">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-2">
            <p class="tile is-child">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui doloremque id ipsam, cum, magnam soluta modi neque non placeat ut quos earum explicabo mollitia, quia natus cumque. Exercitationem, voluptas?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nisi sint corrupti officiis ullam ut sed ea eaque! Cum a nihil officiis earum sint hic harum dolores eius ullam accusantium.</p>
        </div>
        <!-- SOMEHOW PUT CAROUSEL HERE ABOVE THESE 4 COLUMNS OF TWO ITEMS EACH -->
        <div class="tile is-parent is-vertical is-2">
            <div class="tile is-child">
                ITEM 1
            </div>
            <div class="tile is-child">
                ITEM 2
            </div>
        </div>
        <div class="tile is-parent is-vertical is-2">
            <div class="tile is-child">
                ITEM 3
            </div>
            <div class="tile is-child">
                ITEM 4
            </div>
        </div>
        <div class="tile is-parent is-vertical is-2">
            <div class="tile is-child">
                ITEM 5
            </div>
            <div class="tile is-child">
                ITEM 6
            </div>
        </div>
        <div class="tile is-parent is-vertical is-2">
            <div class="tile is-child">
                ITEM 7
            </div>
            <div class="tile is-child">
                ITEM 8
            </div>
        </div>
    </div>
</div>
        
            
                
                
            
        
    </div>
</div>
        

{% endblock %}