{% extends "base.html" %}
{% block title %}
    Exchange 🔺 | Home
{% endblock %}
{% block content %}

<section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Exchange
        </h1>
        <h2 class="subtitle">
          An easy-exchange for a modern seller
        </h2>
      </div>
    </div>
  </section>
<section class="section">
    <div class="tile is-ancestor">
        {% if posts %}
        <div class="tile is-vertical is-parent">
            <div class="tile is-ancestor">
                {% for post in posts|slice:"0:4" %}
                <div class="tile is-parent is-vertical is-3">
                    <div class="tile is-child">
                        <figure class="image is-1by1">
                            <a href="{% url 'post_detail' post.id %}"><img class="product_photo" src="{{ post.product.photo.url }}" alt="Photo of product"></a>
                        </figure>
                        <div>
                            <h5 class="has-text-centered is-uppercase has-text-weight-bold">{{ post.product.name }} - ${{ post.product.price|floatformat:2 }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tile is-ancestor">
                {% for post in posts|slice:"4:8" %}
                <div class="tile is-parent is-vertical is-3">
                    <div class="tile is-child">
                        <figure class="image is-1by1">
                            <a href="{% url 'post_detail' post.id %}"><img class="is-rounded" src="{{ post.product.photo.url }}" alt="Photo of product"></a>
                        </figure>
                        <div>
                            <h5 class="has-text-centered is-uppercase has-text-weight-bold">{{ post.product.name }} - ${{ post.product.price|floatformat:2 }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            {% else %}
            <div class="tile is-1"></div>
                <div class="tile fixed-sidebar is-parent notification">
                    <div class="tile has-text-centered is-child">
                        <h1 class="title is-1">No products have been posted!</h1>
                    </div>
                </div>
            <div class="tile is-1"></div>
        {% endif %}
    </div>
</section>                

{% endblock %}