{% extends "base.html" %}
{% block title %}
    Exchange 🔺 | {{ user.first_name|capfirst }}'s Profile
{% endblock %}
{% block content %}
<br><br>
<div class="container">
<div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <p class="title">My Profile</p>
      
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-40x40">
              <img src="{{user.profile.avatar}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{user.first_name|capfirst}}{{user.last_name|capfirst}}</p>
            <p class="subtitle is-6">Username:{{user.username|capfirst}} </p>
          </div>
        </div>
    
        <p class="subtitle">Birthdate: {{user.profile.birth_date}} </p>
        
        <div class="content">
          {{user.profile.bio}}
        </div>
      </div>
    </div>
  </div>

  
      <div class="content">
        <!-- Content -->
      </div>
    </article>
  </div>
  <form action="{% url 'delete_product' %}" method="post">
    {% csrf_token %}
    <div class="field">
        <p class="control has-icons-left">
            <span class="select">
                <select name="product_id" id="products">
                    <option>Choose Product</option>
                    {% for product in products %}
                      <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fas fa-th-large"></i>
            </span>
        </p>
    </div>
    <button type="submit" class="button is-danger">Delete</button>
</form>

</div>

{% endblock %}