{% extends "base.html" %}
{% block title %}
    Exchange 🔺 | {{ user.first_name|capfirst }}'s Profile
{% endblock %}
{% block content %}
<br><br>
<div class="container">
<div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <p class="title">My Profile</p>
      
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-40x40">
              <img src="{{user.profile.avatar}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{user.first_name|capfirst}}{{user.last_name|capfirst}}</p>
            <p class="subtitle is-6">Username:{{user.username|capfirst}} </p>
          </div>
        </div>
    
        <p class="subtitle">Birthdate: {{user.profile.birth_date}} </p>
        
        <div class="content">
          {{user.profile.bio}}
        </div>
      </div>
    </div>
  </div>

  
      <div class="content">
        <!-- Content -->
      </div>
    </article>
  </div>
</div>
{% endblock %}